{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row mt-5 pb-5">
        <div class="col-md-10 offset-1">
            <h1 class="text-center pb-5">Literature & Arts Trust Fund</h1>
            <p>
                Literature & Arts Trust Fund
                The Literature and Arts Trust Fund of Bhutan is a proactive festival fund established in accordance with
                the Royal Vision of Her Majesty The Queen Mother Gyalyum Azhi Dorji Wangmo Wangchuck. Her Majesty
                understood the great importance of Literature for the holistic, sustainable development Gross National
                Happiness has to offer to her people. To this end, Her Majesty envisioned to create an inclusive
                platform for literature and arts for the creation of an enlightened society in pursuit of collective
                progress and happiness. This far-sighted vision gave birth to the decade old festival of Drukyul’s
                Literature Festival: Bhutan Echoes.
            </p>

        </div>

    </div>

    </div>
{% endblock content %}