{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>

        <div class="tm-section-wrap bg-white">
            <section id="talk" class="row tm-section">
                <div class="col-xl-6 mb-5">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-8">
                            <div class="section-tittle text-center mb-30">
                                <h1>Our Story</h1>
                            </div>
                            <div class="section-tittle mb-30">
                                <p>Drukyul’s Literary Festival is an annual celebration of literature and arts in the Himalayan Kingdom of Bhutan, under the Royal Patronage of Her Majesty the Queen Mother Ashi Dorji Wangmo Wangchuck. The festival is an independently organized not for profit event that is free and open to all.</p>
                                <p>Drukyul’s Literary Festival is a life-changing experience in the world’s ONLY carbon negative country with a gallery of esteemed authors, thought-leaders and change makers from around the world. For over a decade, Drukyul’s Literature Festival has been an open, inclusive space for diverse ideas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-4">
                            <div class="section-tittle text-center mb-30">
                                <h1>Our Vision</h1>
                                <p>Drukyul’s Literature Festival: Bhutan Echoes’ vision is to cultivate the creation of an enlightened society through books, storytelling and ideas in pursuit of collective progress and happiness.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4"> 
                            <div class="section-tittle text-center mb-30">
                                <h1>Our Mission</h1>
                                <p>Drukyul’s Literature Festival: Bhutan Echoes is an annual celebration of works of literature by Bhutanese, Indian, and International writers, thinkers and influencers. DLF aims to enlighten, educate, and stimulate by propagating Bhutanese literature, culture and arts to the world, while also bringing the world’s best and brightest minds to Bhutan.</p>
                            </div>
                        </div>
                    </div>
                </div>                    
            </section>
        </div>
    </main>

{% endblock content %}