{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>
        <div class="tm-section-wrap bg-white">
            <section id="talk" class="row tm-section">
                <div class="col-xl-6 mb-5">
                    <div class="tm-double-border-1 tm-border-gray">
                        <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                            <div class="section-tittle text-center mb-30">
                                <h1><u>Royal Patron</u></h1><br>
                                <div class="blog-img">
                                    <img src="{% static 'images/azhi.png' %}" style="height:200px;" alt="Image" class="img-fluid">
                                </div>

                                <div class="section-tittle text-center mb-30">
                                    <h3>Her Majesty the Queen Mother of Bhutan,
                                        Gyalyum Ashi Dorji Wangmo Wangchuck</h3>
                                </div>
                            </div>
                            <div class="section-tittle mb-30">
                                <p>Her Majesty the Queen Mother of Bhutan, Gyalyum Ashi Dorji Wangmo Wangchuck is the
                                    Chief Patron of Drukyul’s Literature Festival: Bhutan Echoes. Every year, select
                                    renowned authors, accomplished poets, thought leaders and change makers are invited
                                    to come together to celebrate literature, art, stories and ideas in Bhutan. For over
                                    a decade, The Bhutan Echoes Festival has been an inclusive space for diverse ideas
                                    from around the world.</p>
                                <p>Her Majesty is not only an accomplished author but also a keen supporter of
                                    literature, particularly among the youth. She has sponsored and edited a number of
                                    books on poetry and essays on issues of relevance to the country. She is the author
                                    of “of Rainbows and Clouds” a story of Yab Ugen Dorji (His Majesty The King’s
                                    maternal Grandfather), which is not only a gripping family saga, but an illuminating
                                    window on Bhutanese culture, society and history. Her Majesty’s second book
                                    “Treasures of the Thunder Dragon – A Portrait of Bhutan” is a blend of personal
                                    memoir, history, folklore and travelogue. Her Majesty’s third book “Dochula: A
                                    Spiritual Abode” – documents the Druk Wangyal Complex at Dochula and the creation of
                                    the Dochula Tshechu in gratitude to His Majesty the Great Fourth and the Bhutanese
                                    Armed Forces for safeguarding the Sovereignty of the country in 2003.</p>
                                <p>Her Majesty has initiated numerous programmes to improve the quality of life of the
                                    Bhutanese people especially in the rural areas through the creation of the Tarayana
                                    Foundation. The Foundation seeks to help those experiencing financial difficulties
                                    through housing schemes, scholarships, training, production and marketing of rural
                                    products and financial support. In consultation with the community members, Tarayana
                                    has identified several projects including cultivation of medicinal, aromatic and dye
                                    plants like mountain indigo, turmeric and ginger to increase cash income. Currently
                                    Tarayana works in nearly 500 of the remotest villages of Bhutan.
                                </p>
                                <p>Her Majesty is the Founder and Patron of the Folk Heritage Museum in the capital,
                                    Thimphu. The museum showcases traditional folk knowledge, crafts and way of life and
                                    has become a popular site for local and foreign visitors. The Druk Wangyel Chortens
                                    in Dochula, which consists of 108 stupas and a temple was conceived and constructed
                                    by Her Majesty. Her Majesty commissioned the construction of the Lungchutse Chorten,
                                    and rebuilding of the Lungchutse monastery. The resoundingly successful Smithsonian
                                    Folk Life Festival of Bhutan in Washington DC in 2008 was organized under the
                                    guidance and patronage of Her Majesty.
                                </p>
                                <p>Her Majesty is the Honorary President of Sherubtse College, Bhutan’s oldest and most
                                    respected institution of higher learning and she takes a keen interest in youth and
                                    gender issues.</p>
                                <p>Her Majesty Gyalyum Dorji Wangmo Wangchuck is the eldest Queen of His Majesty Jigme
                                    Singye Wangchuck, the Fourth King of Bhutan. Her Majesty is the mother of HRH
                                    Princess Sonam Dechan Wangchuck and HRH Prince Jigyel Ugyen Wangchuck.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock content %}